html.dark-mode nav ul li a.meetme {
  display: flex;
  align-self: center;
  /* justify-content: center; */
  gap: 1rem;
  text-decoration: none;
  padding: 0.1rem 0.5rem;
  border-radius: 0.2rem;
  /* transition: transform 0.3s ease-in-out; */
  background: linear-gradient(
    120deg,
    rgba(166, 77, 122, 0.8),
    rgba(255, 223, 128, 0.8)
  );
  box-shadow: 0px 5px 10px rgba(166, 77, 121, 0.4);
  transform: scale(1.05, 1.02);
}

nav ul li a.meetme {
  background: linear-gradient(to bottom left, #dbeafe, #bfdbfe);
  box-shadow: 0px 5px 10px rgba(166, 77, 121, 0.4);
  transform: scale(1.05, 1.02);
}

main {
  margin: 7rem 2rem 4rem;
}

div.profile-section {
  display: flex;
  /* grid-template-columns: 1fr 1.3fr; */
  justify-content: center;
  gap: clamp(1rem, 1vw + 2.5rem, 4rem);
  color: rgb(166, 77, 121);
  animation: slideUp 2s ease-in-out;
  align-items: center;
}

img.profile-pic {
  max-height: clamp(15rem, 40vw, 40rem);
  /* max-height: 40rem; */
  border-radius: 5rem;
  object-fit: cover;
  mix-blend-mode: luminosity;
}

.profile-text {
  text-align: justify;
}

.profile-section p {
  color: rgb(166, 77, 121);
  font-size: clamp(0.7rem, 3vw, 1.2rem);
  max-width: 45rem;
}

@keyframes slideUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* .profile-text h3 {
  font-size: medium;
  font-weight: 100;
} */

.profile-text h1 {
  margin-left: clamp(0, 10vw, 2rem);
  margin-bottom: clamp(1rem, 3vw, 2rem);
  font-size: clamp(2rem, 10vw, 4rem);
}

.profile-text div {
  margin-top: 2.5rem;
}

div.view-portfolio a {
  padding: 0.7rem 1rem;
  border: 1px solid rgb(166, 77, 121);
  text-decoration: none;
  font-size: clamp(0.8rem, 2vw, 1.1rem);
  border-radius: 1rem;
  font-weight: bold;
  box-shadow: 0.2px 0.2px 2px rgb(207, 104, 156);
  transition: all 0.3s ease;
}

div.view-portfolio button:hover {
  background-color: rgba(166, 77, 121, 0.2);
  border-width: 2.5px;
}

.mySkills {
  margin-top: 3rem;
}

div.image-slider svg {
  height: 3rem;
  width: 3rem;
}

div.image-slider svg.NodeJs {
  fill: none;
}

div.image-slider svg.NodeJS path {
  fill: rgb(166, 66, 121);
}

div.image-slider svg.python,
svg.python g {
  fill: rgb(166, 66, 121);
}

div.image-slider svg.React {
  animation: rotate 2s linear infinite;
}

.mySkills-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.mySkills-div span {
  flex: 1;
  background-color: rgb(200, 200, 200);
  height: 2px;
}

html.dark-mode main div.mySkills-div h2 {
  margin: 0; /* Remove default margins */
  text-align: center; /* Center align the text */
  white-space: nowrap; /* Prevent text from breaking into multiple lines */
  color: rgb(166, 66, 121);
}

.image-slider-parent {
  width: 100%;
  overflow: hidden;
}

.image-slider {
  display: flex;
  gap: 20px;
  animation: scroll 10s linear infinite;
  width: max-content;
}

div.image-slider > * {
  display: grid;
  place-items: center;
  text-align: center;
}

div.image-slider > div > p {
  font-weight: 700;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes scroll {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 1060px) {
  div.profile-section {
    flex-direction: column;
    align-items: start;
  }
}
