html.dark-mode nav ul li a.meetme {
  display: flex;
  align-self: center;
  /* justify-content: center; */
  gap: 1rem;
  text-decoration: none;
  padding: 0.1rem 0.5rem;
  border-radius: 0.2rem;
  /* transition: transform 0.3s ease-in-out; */
  background: linear-gradient(
    120deg,
    rgba(166, 77, 122, 0.8),
    rgba(255, 223, 128, 0.8)
  );
  box-shadow: 0px 5px 10px rgba(166, 77, 121, 0.4);
  transform: scale(1.05, 1.02);
}

nav ul li a.meetme {
  background: linear-gradient(to bottom left, #dbeafe, #bfdbfe);
  box-shadow: 0px 5px 10px rgba(166, 77, 121, 0.4);
  transform: scale(1.05, 1.02);
}

html.dark-mode div.aside-links a.link-meetme {
  background-color: rgba(136, 65, 101, 0.2) !important;
}

div.aside-links a.link-meetme {
  background-color: rgba(33, 47, 129, 0.8) !important;
}

main {
  margin: 7rem 2rem 4rem;
}

div.profile-section {
  display: flex;
  justify-content: center;
  gap: clamp(1rem, 1vw + 2.5rem, 4rem);
  color: rgb(166, 77, 121);
  animation: slideUp 2s ease-in-out;
  align-items: center;
}

img.profile-pic {
  max-height: clamp(15rem, 40vw, 40rem);
  /* max-height: 40rem; */
  border-radius: clamp(2rem, 5vw, 5rem);
  object-fit: cover;
  mix-blend-mode: luminosity;
  /* animation: wiggle 1s ease-in-out infinite; Add this line */
  animation-name: wiggle;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  1% {
    transform: rotate(5deg);
  }
  2% {
    transform: rotate(-5deg);
  }
  3% {
    transform: rotate(4deg);
  }
  4% {
    transform: rotate(-4deg);
  }
  5% {
    transform: rotate(3deg);
  }
  6% {
    transform: rotate(-3deg);
  }
  7% {
    transform: rotate(2deg);
  }
  9% {
    transform: rotate(-2deg);
  }
  18% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

div.profile-text {
  text-align: justify;
}

div.profile-text h1.aboutMe {
  color: var(--blue-color);
}

html.dark-mode div.profile-text h1.aboutMe {
  color: var(--lightpink);
}

div.profile-section p {
  color: var(--black);
  font-size: clamp(0.7rem, 3vw, 1.2rem);
  max-width: 45rem;
}

html.dark-mode div.profile-section p {
  color: var(--gray);
}

@keyframes slideUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.profile-text h1 {
  margin-left: clamp(0, 10vw, 2rem);
  margin-bottom: clamp(1rem, 3vw, 2rem);
  font-size: clamp(2rem, 10vw, 4rem);
}

.profile-text div {
  margin-top: 2.5rem;
}

div.view-portfolio a {
  padding: 0.7rem 1rem;
  border: 1px solid var(--blue-color);
  color: var(--black);
  text-decoration: none;
  font-size: clamp(0.8rem, 2vw, 1.1rem);
  border-radius: 1rem;
  font-weight: bold;
  box-shadow: 0.2px 0.2px 2px rgb(207, 104, 156);
  transition: all 0.3s ease;
}

html.dark-mode div.view-portfolio a {
  border: 1px solid var(--lightpink);
  color: var(--gray);
}

div.view-portfolio a:hover {
  background-color: rgba(33, 47, 129, 0.096);
  border-width: 1.7px;
}

html.dark-mode div.view-portfolio a:hover {
  background-color: rgba(166, 77, 122, 0.1);
  border-width: 1.7px;
}

.mySkills {
  margin-top: 3rem;
}

div.image-slider svg {
  height: 3rem;
  width: 3rem;
}

div.image-slider svg.NodeJs {
  fill: none;
}

div.image-slider svg.NodeJS path {
  fill: var(--blue-color);
}

html.dark-mode div.image-slider svg.NodeJS path {
  fill: var(--gray);
}

div.image-slider svg.python,
svg.python g {
  fill: var(--blue-color);
}

html.dark-mode div.image-slider svg.python,
html.dark-mode svg.python g {
  fill: var(--gray);
}

div.image-slider svg.React {
  animation: rotate 2s linear infinite;
}

div.mySkills-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

div.mySkills-div span {
  flex: 1;
  background-color: var(--blue-color);
  height: 2px;
}

html.dark-mode div.mySkills-div span {
  background-color: var(--gray);
}

div.mySkills-div h2 {
  color: var(--black);
}

html.dark-mode div.mySkills-div h2 {
  text-align: center; /* Center align the text */
  white-space: nowrap; /* Prevent text from breaking into multiple lines */
  color: rgb(166, 66, 121);
}

.image-slider-parent {
  width: 100%;
  overflow: hidden;
}

div.image-slider {
  display: flex;
  gap: 20px;
  animation: scroll 10s linear infinite;
  width: max-content;
}

div.image-slider svg {
  fill: var(--blue-color);
}

html.dark-mode div.image-slider svg {
  fill: var(--gray);
}

div.image-slider > * {
  display: grid;
  place-items: center;
  text-align: center;
}

div.image-slider > div > p {
  font-weight: 700;
  color: var(--black);
}

html.dark-mode div.image-slider > div > p {
  color: var(--lightpink);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes scroll {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 1060px) {
  div.profile-section {
    flex-direction: column;
    align-items: start;
  }
}
