main.mainDiv {
  padding-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* main div.main-writeup-div {
  /* display: flex; 
  gap: 2rem;
  /* flex-wrap: wrap; */
/* justify-content: space-between;
} */

main div.main-writeup {
  max-width: 50rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

main div.main-writeup > :nth-child(2) {
  margin: 1.5rem 0;
}

main div h1 {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(253, 253, 253);
  max-width: 450px;
}

main div p {
  font-size: 1.2rem;
  font-weight: 400;
}

/* main div.skills-div{
    display: flex;
} */

main div.skills {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

main div.skills div {
  background: linear-gradient(120deg, rgb(37, 37, 41), rgb(83, 83, 95));
  box-shadow: 0px 5px 10px rgba(166, 77, 121, 0.4);
  border-radius: 20px;
  border: 2px solid rgb(95, 47, 71);
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
}

main div.skills div:hover {
  transform: scale(1.05, 1.025);
  border-color: rgb(255, 251, 253);
}

main div.skills div span {
  color: rgb(255, 223, 128);
  /* font-size: 1rem; */
}

main div.skills img {
  height: 1.3rem;
  width: 1.3rem;
}

main div.main-writeup-div > :last-child {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  /* align-items: center;*/
  margin-left: 1rem;
  margin-right: 1rem;
}

main div.main-writeup-div > :last-child a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 2px solid rgb(166, 77, 121);
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  transition: all 0.3s ease-in-out;
}

main div.main-writeup-div > :last-child a.project-link {
  background: linear-gradient(
    to bottom left,
    rgb(166, 77, 121),
    rgb(72, 191, 145)
  );
}

main div.main-writeup-div > :last-child a img {
  height: 2rem;
  width: 2rem;
}

main div.main-writeup-div > :last-child a:hover {
  border: 2px solid rgb(253, 253, 253);
  transform: scale(1.05, 1.025);
}

main > :last-child {
  /* margin-right: 7rem; */
  margin: 2rem auto 0;
}

main div img.profile-pic {
  max-height: 350px;
  max-width: 350px;
  border-radius: 50%;
  object-fit: cover;
  padding-top: 20px;
  padding-bottom: 20px;
  mix-blend-mode: luminosity;
  /* margin-right: 50px; */
  animation: bounce 4s linear infinite forwards;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-4%);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 486px) {
  main div.main-writeup-div > :last-child a {
    width: 100%;
  }

  main div h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  h1 {
    font-size: 2rem;
  }

  p,
  span {
    font-size: 0.89rem;
  }

  main div p {
    font-size: 0.89rem;
  }

  main div.skills div {
    padding: 0.3rem 0.9rem;
    gap: 0.2rem;
  }
}
