/* header {
  position: relative;
} */

nav {
  display: flex;
  background-color: rgb(37, 37, 41);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  /* box-shadow: 0px 4px 10px rgba(207, 95, 151, 0.8); */
  z-index: 1;
  padding: 1.1rem 0;
  border-bottom: 0.2rem solid transparent;
  align-items: center;
}

nav::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 0.12rem;
  width: 100%;
  background: linear-gradient(to left, white, rgb(166, 77, 121));
}

/* nav img.hamburger {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  /* background-color: red; 
  display: none;
  /* margin-right: 1rem; 
  margin-left: 1rem;
  transition: transform 0.3s ease;
} */

nav svg.hamburger {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  display: none;
  margin-left: 1rem;
  stroke: rgb(95, 47, 71);
  stroke-width: 1;
  transition: transform 0.3s ease;
}

nav svg.hamburger:hover,
nav button:hover,
aside a.span-parent:hover {
  transform: scale(1.1, 1.1);
}

aside.side-bar {
  width: 70vw;
  background: linear-gradient(120deg, #f9fafb 0%, #e5e7eb 40%, #1a1a1d 100%);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%); /* Initially hidden */
  transition: transform 0.5s ease; /* Smooth slide effect */
  z-index: 10;
}

aside div.side-bar-child {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

nav div.sbc-guard {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* width: 100vw;
  height: 100vh; */
  z-index: 9;
  display: none;
}

aside div.title {
  display: flex;
  background: linear-gradient(120deg, #f9fafb 0%, #e5e7eb 40%, #1a1a1d 100%);
  padding: 1.1rem 0;
  border-bottom: 2px rgb(166, 77, 121) solid;
  align-items: center;
  z-index: 0;
}

aside a.span-parent {
  margin: 0 auto 0 1rem;
  display: flex;
  align-items: center;
  display: inline-block;
  align-items: center;
  position: relative;
  transition: transform 0.3s ease;
}

aside a.span-parent span {
  align-self: center;
}

nav aside div.cancel {
  /* margin: 1.2rem 1.2rem 0 auto; */
  margin-left: auto;
  margin-right: 1rem;
  transition: transform 0.3s ease;
}

nav aside div.cancel:hover {
  transform: scale(1.1, 1.1);
}

nav div.cancel span {
  cursor: pointer;
  padding: 5px;
  font-size: 1.2rem;
  color: #6366f1;
}

aside div.side-bar-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

nav div.Available-div {
  display: flex;
  gap: 0.5rem;
  padding: 1.3rem 0;
  justify-content: center;
}

nav div.Available-div span.Available {
  background-color: rgb(26, 26, 29);
  font-size: 0.7rem;
  color: rgb(255, 255, 255);
}

nav div.Available-div span {
  border: 1px solid rgb(165, 165, 165);
  border-radius: 1.5rem;
  padding: 0 0.5rem;
  /* font-size: 1rem; */
  padding: 8px 8px;
  min-width: 7rem;
  text-align: center;
  color: rgb(26, 26, 29);
}

aside div.aside-links {
  background: linear-gradient(120deg, #f9fafb 0%, #e5e7eb 40%, #1a1a1d 100%);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
}

aside div.aside-links a {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 0 0.5rem;
  border-radius: 4px;
  padding-left: 0.5rem;
}

aside div.aside-links a.bgc-sc {
  background-color: rgb(151, 151, 170);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

aside div.aside-links a.bgc-sc:hover {
  transform: scale(1.03, 1.03);
  background-color: rgba(51, 51, 51, 0.7);
}

aside div.aside-links a svg {
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgba(255, 82, 168, 0.05);
  border-radius: 4px;
  padding: 4px 0;
  fill: #6366f1;
}

aside div.link-parent {
  width: 80%;
  padding: 1rem 0;
}

aside div.aside-links div.link-title {
  font-weight: 500;
}

aside div.aside-links div.link-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* font-size: 0.8rem; */
  width: 100%;
}

aside div.link-description,
aside div.link-title {
  color: rgb(26, 26, 29);
}

aside div.aside-links div.bottom-A-link {
  margin-top: auto;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(200, 200, 200);
  padding: 1rem 0;
}

aside div.aside-links div.bottom-A-link a {
  background-color: transparent;
}

aside div.aside-links div.bottom-A-link img {
  height: 1.3rem;
  width: 1.3rem;
}

aside div.aside-links div.bottom-A-link a:hover {
  background-color: transparent;
}

nav a {
  text-decoration: none;
}

nav a div.title {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  padding-left: 1.2rem;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

nav a div.title:hover {
  transform: scale(1.05, 1.02);
}

nav a div.title::before,
nav aside a.span-parent::before {
  content: "";
  position: absolute;
  height: 110%;
  width: 100%;
  /* background-color: rgb(95, 47, 71); */
  z-index: -1;
  border-radius: 15px;
  transition: filter 0.3s ease;
}

nav a div.title:hover::before,
nav aside a.span-parent:hover::before {
  background: linear-gradient(
    to bottom left,
    rgb(166, 77, 121),
    rgb(72, 191, 145)
  );
  filter: blur(0.7rem);
}

nav a div.title div {
  padding: 0 0.6rem;
}

nav div span.first-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(166, 77, 121);
}

nav div span.other-name {
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(255, 223, 128);
}

nav div span.name-title {
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-size: 1rem; */
  /* font-weight: 450; */
  margin-top: 0;
  color: rgb(166, 77, 121);
  border-left: 0.1rem solid rgb(166, 77, 121);
  padding: 0.2rem 0 0.2rem 1rem;
  margin-left: 1rem;
  color: rgb(255, 223, 128);
}

nav a.mode-link svg {
  fill: rgb(95, 47, 71);
}

nav svg.dark_light_mode {
  height: 1.3rem;
  width: 1.3rem;
}

nav ul {
  /* flex: 1; */
  display: flex;
  list-style: none;
  /* justify-content: space-evenly; */
  align-items: center;
  margin-left: auto;
  /* padding-right: 2rem; */
  gap: 2rem;
  margin-right: 1rem;
}

nav ul li a {
  display: flex;
  align-self: center;
  /* justify-content: center; */
  gap: 1rem;
  text-decoration: none;
  padding: 0.1rem 0.5rem;
  border-radius: 0.2rem;
  transition: transform 0.3s ease-in-out;
}

nav ul li a:hover {
  background: linear-gradient(
    120deg,
    rgba(166, 77, 122, 0.8),
    rgba(255, 223, 128, 0.8)
  );
  box-shadow: 0px 5px 10px rgba(166, 77, 121, 0.4);
  transform: scale(1.05, 1.02);
}

nav ul li a svg.portfolio {
  fill: none;
  stroke: rgb(95, 47, 71);
  stroke-width: 3;
}

nav ul li a span {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: rgb(200, 200, 200);
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover span {
  color: rgb(255, 255, 255);
}

nav ul li a img {
  height: 2.3rem;
  width: 2.2rem;
}

html.dark-mode nav ul li svg,
nav ul li svg {
  height: 2.3rem;
  width: 2.3rem;
}

nav button {
  all: unset;
  cursor: pointer;
  margin-right: 1rem;
  transition: transform 0.3s ease;
}

nav ul svg.dark_light_mode {
  height: 1.5rem;
  width: 1.5rem;
}

@media screen and (max-width: 1250px) {
  nav {
    justify-content: space-between;
  }

  nav ul {
    display: none;
  }

  nav svg.hamburger {
    display: inline;
  }

  nav a div.title {
    margin: 0;
  }

  /* nav a.mode-link {
    display: inline;
  } */
}

@media screen and (max-width: 470px) {
  nav a div.title span.name-title {
    display: none;
  }
  nav a div.title {
    margin-left: 0;
    padding-left: 0;
  }

  h1 {
    font-size: 2rem;
  }

  p,
  span {
    font-size: 0.89rem;
  }

  nav div span.first-name {
    font-size: 1.3rem;
    font-weight: 700;
  }

  nav div span.other-name {
    font-size: 1.3rem;
    font-weight: 300;
  }
  aside div.aside-links div.link-description {
    font-size: 0.7rem;
  }
}
