html.dark-mode nav ul li a.services {
  display: flex;
  align-self: center;
  /* justify-content: center; */
  gap: 1rem;
  text-decoration: none;
  padding: 0.1rem 0.5rem;
  border-radius: 0.2rem;
  /* transition: transform 0.3s ease-in-out; */
  background: linear-gradient(
    120deg,
    rgba(166, 77, 122, 0.8),
    rgba(255, 223, 128, 0.8)
  );
  box-shadow: 0px 5px 10px rgba(166, 77, 121, 0.4);
  transform: scale(1.05, 1.02);
}

nav ul li a.services {
  background: linear-gradient(to bottom left, #dbeafe, #bfdbfe);
  box-shadow: 0px 5px 10px rgba(166, 77, 121, 0.4);
  transform: scale(1.05, 1.02);
}

html.dark-mode div.aside-links a.link-services {
  background-color: rgba(136, 65, 101, 0.2) !important;
}

div.aside-links a.link-services {
  background-color: rgba(33, 47, 129, 0.8) !important;
}

html.dark-mode {
  color: var(--gray);
}

html {
  color: var(--black);
}

main {
  margin: 7rem 1rem;
}

div.technical-S {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}

html.dark-mode div.technical-S p {
  background: rgba(255, 82, 168, 0.05);
  border: 1px solid var(--lightpink);
  color: var(--lightpink);
}

div.technical-S p {
  background: linear-gradient(to bottom left, #dbeafe, #bfdbfe);
  padding: 0.7rem;
  border-radius: 2rem;
  border: 1px solid var(--blue-color);
  color: var(--black);
  font-weight: 700;
}

div.technical-S h1 {
  font-size: clamp(2.2rem, 2.5vw + 1rem, 3.75rem);
}

html.dark-mode div.technical-S h1.digi-inn {
  color: var(--lightpink);
}

div.technical-S h1.digi-inn {
  color: var(--blue-color);
}

div.technical-S h4 {
  max-width: 50rem;
  text-align: center;
}

div.ability {
  margin: 2rem auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  max-width: 60rem;
}

html.dark-mode div.ability div {
  background: rgba(255, 82, 168, 0.08);
  border: 1px solid var(--lightpink);
}

div.ability div {
  background: linear-gradient(to bottom left, #dbeafe, #bfdbfe);
  border: 1px solid var(--blue-color);
  padding: 0.7rem;
  border-radius: 2rem;
  font-weight: bold;
  width: 17rem;
  text-align: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

html.dark-mode div.code-svg path {
  fill: var(--lightpink);
}

div.code-svg path {
  fill: var(--blue-color);
}

div.action-call {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
}

html.dark-mode div.action-call a {
  background: linear-gradient(
    to bottom left,
    rgb(166, 77, 121),
    rgb(72, 191, 145)
  );
  border: 1px solid var(--lightpink);
  color: var(--gray);
}

div.action-call a {
  text-decoration: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(to bottom left, #dbeafe, #bfdbfe);
  padding: 0.7rem;
  border-radius: 2rem;
  border: 1px solid var(--blue-color);
  width: 15rem;
  color: var(--black);
}

html.dark-mode span.d-arrow {
  color: var(--gray);
}

span.d-arrow {
  font-size: 1.1rem;
  transition: transform 0.5s ease;
  color: var(--blue-color);
}

div.action-call a.ac-services:hover span.d-arrow {
  transform: translateY(15%);
}

html.dark-mode div.action-call a svg {
  fill: var(--gray);
}

div.action-call a svg {
  fill: var(--blue-color);
}

div.expertises {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

html.dark-mode div.expertises h2 {
  color: var(--lightpink);
}

div.expertises h2 {
  color: var(--blue-color);
  font-size: 2.25rem;
}

div.services {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
}

html.dark-mode div.s-content {
  border: 2px solid var(--lightpink);
  box-shadow: 0px 5px 10px rgba(166, 77, 121, 0.4);
}

div.s-content {
  border-radius: 1rem;
  border: 2px solid var(--blue-color);
  box-shadow: 0px 5px 10px rgba(33, 47, 129, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.sc-child {
  padding: 2rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

div.code-icon {
  display: flex;
}

html.dark-mode div.code-icon div {
  background-color: rgba(255, 82, 168, 0.08);
}

div.code-icon div {
  background-color: rgba(33, 47, 129, 0.096);
  padding: 0.5rem;
  border-radius: 4px;
}

div.code-icon svg {
  height: 3rem;
  width: 3rem;
}

html.dark-mode div.code-icon svg path {
  fill: var(--lightpink);
}

div.code-icon svg path {
  fill: var(--blue-color);
}

div.TWD {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

html.dark-mode div.TWD h2 {
  color: var(--lightpink);
}

div.TWD h2 {
  color: var(--blue-color);
}

div.assurance {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  gap: 1rem;
}

div.assurance div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.7rem;
  border-radius: 2rem;
  border: 1px solid var(--blue-color);
  background-color: rgba(33, 47, 129, 0.096);
}

html.dark-mode div.assurance div {
  background-color: rgba(255, 82, 168, 0.08);
  border: 1px solid var(--lightpink);
}

div.track-r {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  font-size: 0.7rem;
}

div.track-r span {
  border-radius: 0.5rem;
  padding: 1rem 0;
  text-align: center;
  background-color: rgba(33, 47, 129, 0.096);
}

html.dark-mode div.track-r span {
  background-color: rgba(255, 82, 168, 0.04);
}

div.track-r span p:first-of-type {
  font-size: 1.2rem;
  padding: 0.3rem 0;
}

div.c-use {
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  background-color: rgba(33, 47, 129, 0.096);
}

html.dark-mode div.c-use {
  background-color: rgba(255, 82, 168, 0.04);
}

div.c-use p {
  font-size: 0.9rem;
  padding-top: 0.2rem;
}

div.assurance2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

div.assurance2 div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

div.ideal-f {
  margin-top: 1rem;
}

html.dark-mode div.ideal-f h4 {
  color: var(--gray);
}

div.ideal-f h4 {
  color: var(--blue-color);
}

div.ideal-f div {
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

div.ideal-f span {
  background-color: rgba(33, 47, 129, 0.096);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  text-align: center;
  font-size: 0.8rem;
  border: 1px solid var(--blue-color);
}

html.dark-mode div.ideal-f span {
  background-color: rgba(255, 82, 168, 0.06);
  border: 1px solid var(--lightpink);
}

div.lyp a {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 90%;
  margin: 1.5rem auto;
  border-radius: 2rem;
  padding: 0.7rem 0;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  background-color: rgb(81, 95, 158);
  color: var(--black);
}

html.dark-mode div.lyp a {
  color: var(--gray);
  background-color: rgb(102, 56, 79);
}

html.dark-mode div.lyp a:hover {
  background-color: var(--lightpink);
}

div.lyp a:hover {
  background-color: var(--blue-color);
}

html.dark-mode div.lyp svg {
  fill: var(--gray);
}

div.lyp svg {
  fill: var(--black);
}

html.dark-mode div.code-icon svg.graduate path {
  fill: var(--lightpink);
}

div.code-icon svg.graduate path {
  fill: var(--blue-color);
}

@media screen and (max-width: 625px) {
  div.ability div,
  div.action-call a {
    gap: auto;
    padding: 0.5rem 0.7rem;
    width: auto;
  }

  div.action-call {
    flex-wrap: wrap;
  }

  div.ability span,
  div.action-call a,
  div.technical-S p {
    font-size: 0.89rem;
  }

  div.technical-S h1 {
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  div.services {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 800px) {
  div.services {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
